h1, h2, h3, p, .links {
  font-family: Verdana, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.links {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}
